.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.lightText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #828282;
}

.buttonStyle {
    color: #FC8A06;
    cursor: pointer;
}
