.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.lightText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #828282;
}

.buttonStyle {
    color: var(--button-blue);
    cursor: pointer;
}

.buttonStyle2 {
    background-color: var(--button-blue);
    width: 30vw;
    height: 35px;
    border-radius: 12px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}
.backButton {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .backButton:hover {
    color: #0073ff;
  }
  
  .backIcon {
    margin-right: 5px;
    font-size: 20px;
  }
  
