.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    background-color: #fff;
    min-height: 100vh;
}

.chatItem {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.leftAlign {
    justify-content: flex-start;
}

.rightAlign {
    justify-content: flex-end;
}

.centerAlign {
    justify-content: center;
    align-items: center;
}

.bubble {
    background-color: #e9f5ff;
    color: #000;
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 60%;
    font-size: 14px;
    word-wrap: break-word;
}

.bubble img {
    width: 200px;
}

.inputItem {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.inputItem input {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 4px;
    text-align: left;
    font-size: 14px;
    outline: none;
    word-wrap: break-word;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.inputItem input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Adjust icon color if needed */
    cursor: pointer;
}

.inputItem button {
    background-color: #0073ff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}   

.inputItem p {
    color: #fff;
    background-color: #FF8E21;
    padding: 10px;
    border-radius: 6px;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}