.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #D9D9D950;
}

.headerDiv {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #fff;
    justify-content: space-evenly;
    flex: 1
}

.shareButton {
    padding: 8px 16px;
    background-color: var(--button-blue);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* Dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownButton {
    color: #fff;
    width: 200px;
    border: 1px solid #cccccc50;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    background-color: #101010;
    align-items: center;
    justify-content: space-between;
}

.dropdownIcon {
    margin-left: 10px;
}

.dropdownContent {
    display: block;
    position: absolute;
    color: #fff;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #cccccc50;
    background-color: #101010;
    width: 200px;
    font-size: 12px;
}

.dropdownContent div {
    text-align: left;
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: #cccccc50 solid 1px;
}

.dropdownContent div:hover {
    background-color: #000;
}

/* Theme toggle button styling */
.toggleContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #fff;
}

.toggleSwitch {
    width: 50px;
    height: 24px;
    background-color: #ccc;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggleSwitch.dark {
    background-color: #0073ff;
}

.toggleCircle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
}

.toggleSwitch.dark .toggleCircle {
    transform: translateX(26px);
}

/* Folder item styles */
.folderContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
    padding-bottom: 0;
}

.folderItem {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #FFFFFF14;
    font-size: 14px;
}

.folderItem:hover {
    background-color: #000;
}

.deleteIcon {
    margin-left: 10px;
    color: red;
}

.deleteIcon:hover {
    color: #FF0000;
    font-size: 24px;
}

.deleteIconForm {
    position: absolute;
    margin-left: 10px;
    color: red;
    top: 0;
    right: 0;
}

.deleteIconForm:hover {
    color: #FF0000;
    font-size: 24px;
}

.folderIcon {
    margin-right: 10px;
}

/* Form item styles */
.formContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
}

.formItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 200px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #ffffff80;
    flex-direction: column;
    gap:20px;
    position: relative;
    font-weight: 500;
    color: #ffffff90;
}

.formItem:hover {
    color: #fff
}

